

m4h2 requires the following packages in the environment: numpy, pandas, mcerp, CoolProp

Additionally, the following packages should be placed in the modules folder:

    - AGA8Detail.py, molcules.py and initialise.py (available from https://github.com/Dseal95/AGA8_Detail)
    - uncertaintyCalculator.py (available from https://gitlab.norceresearch.no/uncertainpy/uncertaintycalculator)
    - fluid.py (available from TREND)

TREND should also be installed, and the path to the dll files set as shown below.

In [1]:
import os



from met4h2 import met4H2

from streamProcess import streamProcess
from metering import metering

from modules.uncertaintyCalculator import uncertaintyCalculator

meter = metering()
stream = streamProcess()
m4h2 = met4H2()
ucalc = uncertaintyCalculator()

m4h2.trend_path = os.path.join(
    os.getcwd(),'modules','TREND','TREND 5.0')
m4h2.trend_dll_path = os.path.join(
    m4h2.trend_path,'TREND_x64.dll') # running 64 bit Python
filepath = os.getcwd()
filename = 'settings_example_20230616.xlsx'
n_draws = 10    # With many draws code will take longer to run
                # Keeping it low for testing purposes.

In [2]:
# Reading the settings file is one of potentially several
# ways to create node, stream and meter objects.
m4h2.read_settings_file(
    ucalc, stream, meter, filename,
    filepath = filepath, meter_type = 'USM')

In [3]:
# Info from stream and meter objects
# are combined in a big data frame.
m4h2.collect_measurement_input(stream,meter)

In [4]:
# Based on the m4h2.all_measurement_input frame,
# one can get lhs monte carlo draws.
m4h2.draw_lhs_monte_carlo_samples(n_draws=n_draws)

In [5]:
# Decide whether to do nominal calculations with no uncertainties
# or not. If using method = 'pyforfluids' or 'TREND',
# default eqn of state is 'GERG2008',
# but this can be modified to 'AGA8' if using TREND.
# If method = 'AGA8Detail' AGA8 eqn of stat is used. ,nominal=True
pyforfluids_properties = m4h2.compute_gas_properties(method='pyforfluids',nominal = True)

0.2252044677734375

In [6]:
# Test normality of the computed gas parameters.
# With higher n_draws, this often gets better.
m4h2.test_normality(pyforfluids_properties,filepath)

Using nominal values, there is no distribution to check for normality.

In [7]:
# The uncertainty calculator accepts a dictionary
# as input. Create that dictionary with initialize
# uncertainty calculator. comutation method could
# also be set to 'analytical'.
m4h2.initialize_uncertainty_calculator(
    ucalc,
    pyforfluids_properties,
    computation_method='lhs_montecarlo',
    n_mc_draws=1000)

# The input file could have limits set, such
# that the probability distributions of the
# input variable is truncated.

Note that truncated distributions will only be used with rectangular and Gaussian distributions and with computational method set to 'lhs_montecarlo'.

In [8]:
ucalc.perform_uncertainty_analysis()

# Noise can cause the correlation matrix
# to have negative eigenvalues.

In [9]:
# A few ways to plot the output.
# Make sure to use a suitable file path.
# r_vector: one graph will be plotted for each entry
#           in r_vector, with r = entry
# plot_type:options are 'absolute' and 'relative'
ucalc.plot_with_temporal_correlations(
    r_vector = [0,0.5,1],
    plot_type = 'absolute',
    filepath=filepath+'\\figures\\uncertainty_in_time')
ucalc.plot_without_temporal_correlations(filepath+'\\figures\\uncertainty_in_time')
ucalc.plot_simple_bar_budget(filepath+'\\figures\\uncertainty_budget')

In [11]:
# In case one wishes to view the results in excel.
ucalc.output_to_excel(os.getcwd(),'tester.xlsx')

Writing results to c:\Users\lsta\OneDrive - NORCE\Documents\m4h2\test_vanswinden\Met4H2-main\Met4H2-main/output_tester_lhs_montecarlo.xlsx

In [12]:
# Results can also be obtained from the ucalc object.
ucalc.analysis_results['output_values']

                  DateTime             E units
0  2022-11-07 10:00:00.000  4.404341e+13     J
1  2022-11-07 10:03:00.000  4.404414e+13     J
2  2022-11-07 10:05:59.995  4.404329e+13     J
3  2022-11-07 10:08:59.995  4.373823e+13     J
4  2022-11-07 10:11:59.995  4.373978e+13     J
5  2022-11-07 10:14:59.995  4.373708e+13     J
6  2022-11-07 10:17:59.995  4.376574e+13     J
7  2022-11-07 10:20:59.995  4.376867e+13     J
8  2022-11-07 10:23:59.995  4.376650e+13     J
9  2022-11-07 10:26:59.995  4.376534e+13     J
10 2022-11-07 10:29:59.995  4.376096e+13     J
11 2022-11-07 10:32:59.995  4.376236e+13     J
12 2022-11-07 10:35:59.995  4.376649e+13     J
13 2022-11-07 10:38:59.995  4.376894e+13     J
14 2022-11-07 10:41:59.995  4.376793e+13     J
15 2022-11-07 10:44:59.995  4.377436e+13     J
16 2022-11-07 10:47:59.995  4.377670e+13     J
17 2022-11-07 10:50:59.995  4.377464e+13     J
18 2022-11-07 10:53:59.995  4.384775e+13     J
19 2022-11-07 10:56:59.995  4.385124e+13     J
20 2022-11-07 10:59:59.995  4.384624e+13     J
21 2022-11-07 11:00:00.000  1.165530e+14     J
22 2022-11-07 11:02:59.995  1.176294e+14     J
23 2022-11-07 11:05:59.995  1.176368e+14     J
24 2022-11-07 11:08:59.995  1.176293e+14     J
25 2022-11-07 11:11:59.995  1.183092e+14     J
26 2022-11-07 11:14:59.995  1.183163e+14     J
27 2022-11-07 11:17:59.995  1.183109e+14     J
28 2022-11-07 11:20:59.995  1.183330e+14     J
29 2022-11-07 11:23:59.995  1.183251e+14     J
30 2022-11-07 11:26:59.995  1.183299e+14     J
31 2022-11-07 11:29:59.995  1.164925e+14     J
32 2022-11-07 11:32:59.995  1.164999e+14     J
33 2022-11-07 11:35:59.995  1.164825e+14     J
34 2022-11-07 11:38:59.995  1.170843e+14     J
35 2022-11-07 11:41:59.995  1.171016e+14     J
36 2022-11-07 11:44:59.995  1.170935e+14     J
37 2022-11-07 11:47:59.995  1.184506e+14     J
38 2022-11-07 11:50:59.995  1.184357e+14     J
39 2022-11-07 11:53:59.995  1.184339e+14     J
40 2022-11-07 11:56:59.995  1.186933e+14     J
41 2022-11-07 11:59:59.995  1.186968e+14     J
42 2022-11-07 12:00:00.005  1.419382e+14     J

In [12]:
m4h2.main_m4h2_output['Z'].head()

,Z_0,Z_1,Z_2,Z_3,Z_4,Z_5,Z_6,Z_7,Z_8,Z_9
0,0.945847,0.946763,0.946181,0.946845,0.946645,0.946617,0.946312,0.94718,0.946102,0.94569
1,0.945847,0.946763,0.946181,0.946845,0.946645,0.946617,0.946312,0.94718,0.946102,0.94569
2,0.945847,0.946763,0.946181,0.946845,0.946645,0.946617,0.946312,0.94718,0.946102,0.94569
3,0.947016,0.945963,0.946729,0.94706,0.947991,0.947635,0.946484,0.947454,0.947157,0.947172
4,0.947016,0.945963,0.946729,0.94706,0.947991,0.947635,0.946484,0.947454,0.947157,0.947172

In [13]:
m4h2.main_m4h2_output['Z0'].head()

,Z0_0,Z0_1,Z0_2,Z0_3,Z0_4,Z0_5,Z0_6,Z0_7,Z0_8,Z0_9
0,0.997239,0.99724,0.99724,0.99724,0.997243,0.99724,0.997241,0.997237,0.997239,0.997243
1,0.997239,0.99724,0.99724,0.99724,0.997243,0.99724,0.997241,0.997237,0.997239,0.997243
2,0.997239,0.99724,0.99724,0.99724,0.997243,0.99724,0.997241,0.997237,0.997239,0.997243
3,0.997274,0.997274,0.997273,0.997276,0.997274,0.997274,0.997275,0.997272,0.997276,0.997271
4,0.997274,0.997274,0.997273,0.997276,0.997274,0.997274,0.997275,0.997272,0.997276,0.997271

In [14]:
m4h2.main_m4h2_output['MM'].head()

,MM_0,MM_1,MM_2,MM_3,MM_4,MM_5,MM_6,MM_7,MM_8,MM_9
0,0.019023,0.019021,0.019022,0.019023,0.019011,0.01902,0.019019,0.019031,0.019026,0.019012
1,0.019023,0.019021,0.019022,0.019023,0.019011,0.01902,0.019019,0.019031,0.019026,0.019012
2,0.019023,0.019021,0.019022,0.019023,0.019011,0.01902,0.019019,0.019031,0.019026,0.019012
3,0.018956,0.018954,0.018956,0.018949,0.018956,0.018956,0.018952,0.018961,0.018948,0.018964
4,0.018956,0.018954,0.018956,0.018949,0.018956,0.018956,0.018952,0.018961,0.018948,0.018964

In [15]:
m4h2.main_m4h2_output['DM'].head()

,DM_0,DM_1,DM_2,DM_3,DM_4,DM_5,DM_6,DM_7,DM_8,DM_9
0,1179.768014,1179.809363,1179.862668,1180.080767,1179.357235,1179.573367,1179.891184,1180.229998,1179.11923,1179.93074
1,1179.768014,1179.809363,1179.862668,1180.080767,1179.357235,1179.573367,1179.891184,1180.229998,1179.11923,1179.93074
2,1179.768014,1179.809363,1179.862668,1180.080767,1179.357235,1179.573367,1179.891184,1180.229998,1179.11923,1179.93074
3,1178.663997,1179.798597,1179.160706,1178.916668,1179.239179,1178.996564,1179.448904,1178.994272,1179.290757,1179.527143
4,1178.663997,1179.798597,1179.160706,1178.916668,1179.239179,1178.996564,1179.448904,1178.994272,1179.290757,1179.527143

In [16]:
m4h2.main_m4h2_output['DM0'].head()

,DM0_0,DM0_1,DM0_2,DM0_3,DM0_4,DM0_5,DM0_6,DM0_7,DM0_8,DM0_9
0,42.409567,42.409535,42.409553,42.409557,42.409409,42.409534,42.409489,42.409652,42.409596,42.409402
1,42.409567,42.409535,42.409553,42.409557,42.409409,42.409534,42.409489,42.409652,42.409596,42.409402
2,42.409567,42.409535,42.409553,42.409557,42.409409,42.409534,42.409489,42.409652,42.409596,42.409402
3,42.408097,42.408092,42.408127,42.408011,42.408097,42.408083,42.408047,42.408168,42.408016,42.408209
4,42.408097,42.408092,42.408127,42.408011,42.408097,42.408083,42.408047,42.408168,42.408016,42.408209

In [17]:
m4h2.main_m4h2_output['D'].head()

,D_0,D_1,D_2,D_3,D_4,D_5,D_6,D_7,D_8,D_9
0,22.442647,22.441571,22.442811,22.448859,22.420768,22.435227,22.4398,22.461491,22.434032,22.432722
1,22.442647,22.441571,22.442811,22.448859,22.420768,22.435227,22.4398,22.461491,22.434032,22.432722
2,22.442647,22.441571,22.442811,22.448859,22.420768,22.435227,22.4398,22.461491,22.434032,22.432722
3,22.34264,22.362435,22.352031,22.339002,22.354081,22.349038,22.353465,22.354992,22.34472,22.368963
4,22.34264,22.362435,22.352031,22.339002,22.354081,22.349038,22.353465,22.354992,22.34472,22.368963

In [18]:
m4h2.main_m4h2_output['D0'].head()

,D0_0,D0_1,D0_2,D0_3,D0_4,D0_5,D0_6,D0_7,D0_8,D0_9
0,0.806754,0.806687,0.806695,0.806764,0.806246,0.80662,0.806566,0.807117,0.806889,0.806283
1,0.806754,0.806687,0.806695,0.806764,0.806246,0.80662,0.806566,0.807117,0.806889,0.806283
2,0.806754,0.806687,0.806695,0.806764,0.806246,0.80662,0.806566,0.807117,0.806889,0.806283
3,0.803884,0.803822,0.803883,0.803579,0.803903,0.803887,0.803737,0.804104,0.80353,0.804244
4,0.803884,0.803822,0.803883,0.803579,0.803903,0.803887,0.803737,0.804104,0.80353,0.804244

In [19]:
m4h2.main_m4h2_output['Hg'].head()

,Hg_0,Hg_1,Hg_2,Hg_3,Hg_4,Hg_5,Hg_6,Hg_7,Hg_8,Hg_9
0,995439.160207,994902.735438,995365.864421,995535.687865,995220.645834,995582.125246,994962.871718,995582.957978,995445.968399,994696.697562
1,995439.160207,994902.735438,995365.864421,995535.687865,995220.645834,995582.125246,994962.871718,995582.957978,995445.968399,994696.697562
2,995439.160207,994902.735438,995365.864421,995535.687865,995220.645834,995582.125246,994962.871718,995582.957978,995445.968399,994696.697562
3,989274.896191,988782.080644,989302.275392,989069.396048,989512.126549,989255.327294,988930.31334,989316.045315,988914.317314,989409.696089
4,989274.896191,988782.080644,989302.275392,989069.396048,989512.126549,989255.327294,988930.31334,989316.045315,988914.317314,989409.696089

In [20]:
m4h2.main_m4h2_output['Hm'].head()

,Hm_0,Hm_1,Hm_2,Hm_3,Hm_4,Hm_5,Hm_6,Hm_7,Hm_8,Hm_9
0,52328376.682664,52304518.698947,52328338.774785,52332839.567831,52349708.261401,52344562.807847,52315436.102493,52312506.234544,52320040.272081,52319696.198412
1,52328376.682664,52304518.698947,52328338.774785,52332839.567831,52349708.261401,52344562.807847,52315436.102493,52312506.234544,52320040.272081,52319696.198412
2,52328376.682664,52304518.698947,52328338.774785,52332839.567831,52349708.261401,52344562.807847,52315436.102493,52312506.234544,52320040.272081,52319696.198412
3,52188223.553279,52166221.381401,52189725.011893,52197066.703778,52199482.124507,52186973.341268,52179506.219728,52176174.621198,52192083.97464,52172092.166162
4,52188223.553279,52166221.381401,52189725.011893,52197066.703778,52199482.124507,52186973.341268,52179506.219728,52176174.621198,52192083.97464,52172092.166162

In [21]:
m4h2.main_m4h2_output['Hv'].head()

,Hv_0,Hv_1,Hv_2,Hv_3,Hv_4,Hv_5,Hv_6,Hv_7,Hv_8,Hv_9
0,42216144.151803,42193362.803137,42213021.393925,42220227.886563,42206719.426991,42222173.990521,42195866.672858,42222327.251944,42216461.044265,42184492.562118
1,42216144.151803,42193362.803137,42213021.393925,42220227.886563,42206719.426991,42222173.990521,42195866.672858,42222327.251944,42216461.044265,42184492.562118
2,42216144.151803,42193362.803137,42213021.393925,42220227.886563,42206719.426991,42222173.990521,42195866.672858,42222327.251944,42216461.044265,42184492.562118
3,41953266.221579,41932361.617821,41954456.166986,41944465.524425,41963326.411456,41952422.012023,41938603.682613,41955080.902547,41937894.064631,41959093.156146
4,41953266.221579,41932361.617821,41954456.166986,41944465.524425,41963326.411456,41952422.012023,41938603.682613,41955080.902547,41937894.064631,41959093.156146